<!-- app/views/search/index.html.erb -->
<%= form_tag(product_search_path, method: :get, class: "form-inline justify-content-center") do %>
  <div class="form-group">
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search products" %>
  </div>
  <div class="form-group">
    <%= select_tag :category_id, options_for_select(Category.all.map{ |c| [c.name, c.id] }, params[:category_id]), include_blank: true, class: "form-control" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary ml-2" %>
<% end %>


<% if @products.present? %>
  <% @products.each do |product| %>
    <%= link_to product.title, product %>
    <!-- Display other product information as needed -->
  <% end %>
<% else %>
  <p>No products found.</p>
<% end %>
